@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: left;
    margin-top: 0.8rem;
    padding: 0 0.8rem;
    font-size: 1.1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 2rem;
    width: 100%;
    cursor: pointer;
}

.options > h5{
    padding-left: 0.6rem;
}
.options:hover{
    background: #1987CB;
}
.sidebar > .options:nth-child(2){
    background: #243A47;
    height: 2.5rem;
}