.policies{
    margin-left: 16rem;
    max-width: 100%;
    margin-right: 0.3rem;
}
.policies p{
    padding-left: 0.6rem;
    font-size: 0.81rem;
}
.policies a{
    text-decoration: none;
    color: #0000EE;
}
.policies h4{
    padding: 0.6rem 0 0 0.6rem;
}
.info-column{
    background: #F8F9F9;
}